body{
    background-image: url(rare1.jpg);
}
form{
   margin: 0 auto;
    background-color: aqua;
    height: 600px;
    width: 625px;
    background-color: transparent;
    backdrop-filter: blur(100.5px);
    border: 3px solid white;
    border-radius: 18px;
}
label{
    position: relative
    ;
    
    color: rgb(248, 245, 245);
    font-size: 2rem;
}
input{
 position: relative;
  
 
 margin-bottom: 140px;
}
#na{
    position: relative
    ;
    top: 60px;
}
#name{
    color: aliceblue;
    border-radius: 20px;
    position: relative;
    top: 100px;
     height: 50px;
    right: 90px;
     width:440px ;
    font-size: 25px;
    background-color: transparent;
    border: 1px solid white;
    
}
::placeholder{
    color: white;
}
#password{
   font-size: 19px;
        border-radius: 19px;
        position: relative;
        color: aliceblue;
        height: 50px;
      top: 38px;
      
        width:440px ;
        font-size: 25px;
        background-color: transparent;
        border: 1px solid white;
        
    }
    #pas{
        position: relative
        ;
        
    }
#cn-password{
    border-radius: 40px;
    position: relative;
    left: 0px;
height: 50px;
    bottom: 60px;
    width:440px ;
    font-size: 25px;
    background-color: transparent;
    border: 1px solid white;
    color: aliceblue;
}
#cn{
    position: relative;
    bottom: 60px;
}
button{
    min-height: 52px;
    position: relative
    ;
  
   border-radius: 14px;
    left: 190px;
    min-width: 240px;
    bottom: 170px;
    font-size: 20px;
}
button:hover{
    width: 250px;
    letter-spacing: 4px;
    transition: 0.4s ease;
    color: white;
    background-color: rgb(153, 153, 164);
}
button:active{

    background-color: rgb(63, 63, 64);
    letter-spacing: 3px;
}
#name{
position: relative;
left: 2px;
}
#password{
    position: relative;
  right: 50px;
    }

    #cn-password{
        position: relative;
        left: 85px;
    }
    #na{
        position: relative;
        left: 90px;
    }
    #pas{
        position: relative;
        left: 90px;

    }
    #cn{
        position: relative;
        left: 100px;
    }

    #name:focus{
       letter-spacing: 5px;
       width: 485px;
       transition: 0.5s ease;
    }

    #password:focus{
        letter-spacing: 5px;
        width: 475px;
        transition: 0.5s ease;
     }

     #cn-password:focus{
        letter-spacing: 5px;
        width: 485px;
        transition: 0.5s ease;
     }

     #name:hover{
        letter-spacing: 6px;
        width: 465px;
        transition: 0.5s ease;
     }

     #password:hover{
        letter-spacing: 6px;
        width: 465px;
        transition: 0.5s ease;
     }

     #cn-password:hover{
        letter-spacing: 6px;
        width: 465px;
        transition: 0.5s ease;
     }
     h1{
        text-align: center;
        color: brown;
     }
     #error{
        color: rgb(246, 3, 3);
        text-align: center;
        font-size: 27px;
        backdrop-filter: blur(10px);
        background-color: rgb(88, 42, 42);
        opacity: 1px;
        height: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
     }